@import "tailwindcss";
#draggable{
    -webkit-app-region: drag;
}
#not-draggable{
    -webkit-app-region: no-drag;
}
ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 1rem;
  }