@import "tailwindcss";

#draggable {
    cursor: move;
    -webkit-app-region: drag;
    background-color: white;
}

#not-draggable {
    -webkit-app-region: no-drag;
}

ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 1rem;
}

@font-face {
    font-family: "Jersey 10";
    src: url('./fonts/Jersey10-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url('./fonts/PixelifySans-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: "Jersey 10", sans-serif;
}

#StickyNoteTextArea {
    font-family: "Pixelify Sans", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[contenteditable][data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #999;
    cursor: text;
}