@import "tailwindcss";
#draggable{
    -webkit-app-region: drag;
}
#not-draggable{
    -webkit-app-region: no-drag;
}
ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 1rem;
  }

@font-face {
    font-family: "Jersey 10";
    src: url('./fonts/Jersey10-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: "Jersey 10", sans-serif;
}

/* Removes arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
